.header {
    margin: 45px 0 0 0;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #545454;
  }
  
  .header__image {
    width: 173px;
    margin: 0 0 41px 0;
    padding: 0;
  }
  
  @media screen and (max-width: 800px) {
    .header {
      margin: 28px 0 0 0;
    }
  
    .header__image {
      max-width: 126px;
      margin: 0 0 32px 27px;
    }
  }