.profile {
    display: flex;
    margin-top: 36px;
}

.profile__avatar {
    width: 120px;
    height: 120px;
    max-height: 120px;
    border-radius: 50%;
    margin: 0;
}

.profile__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 30px;
}

.profile__title {
    display: flex;
    align-items: center;
}

.profile__name {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0 0 16px 0;
}

.profile__subtitle {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}

.profile__button_type_edit {
    background-image: url(../images/edit_profile_button.svg);
    width: 24px;
    height: 24px;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ffffff;
    cursor: pointer;
    margin-top: -10px;
    margin-left: 18px;
    padding: 0;
}

.profile__button_type_edit:hover {
    opacity: 0.5;
}

.profile__button_type_add {
    width: 150px;
    height: 50px;
    background-image: url(../images/Add_Button.svg);
    background-color: #000000;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    padding: 0;
}

.profile__button_type_add:hover {
opacity: 0.5;
}

@media screen and (max-width: 800px) {
    .profile {
        flex-direction: column;
        align-items: center;
    }

    .profile__avatar {
        margin-bottom: 25px;
    }
    
    .profile__name {
        max-width: 208px;
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
    }

    .profile__wrapper {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;
    }

    .profile__title {
        max-width: 250px;
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        margin: 0;
        padding: 0;
      }

      .profile__button_type_edit {
          margin-top: -24px;
      }

      .profile__button_type_add {
        min-width: 282px;
        max-height: 50px;
        box-sizing: border-box;
        background-image: url(../images/Add_Button_320.svg);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 36px 19px;

      }

      .profile__edit-icon {
        width: 18px;
        height: 18px;
      }

      .profile__subtitle {
        max-width: 208px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-bottom: 0px;
      }
}